@model TravelPY.Models.DanhMuc

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutOne.cshtml";
}

<h1>Edit</h1>

<h4>DanhMuc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaDanhMuc" />
            <div class="form-group">
                <label asp-for="TenDanhMuc" class="control-label"></label>
                <input asp-for="TenDanhMuc" class="form-control" />
                <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label"></label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTour" class="control-label"></label>
                <input asp-for="SoTour" class="form-control" />
                <span asp-validation-for="SoTour" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label class="control-label">Hình ảnh</label>
                <input asp-for="HinhAnh" class="form-control-file" name="fHinhAnh" type="file" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
