@model TravelPY.Models.TaiKhoan

@{
    ViewData["Title"] = "Tạo mới tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutOne.cshtml";
}

<h3>Tạo mới tài khoản</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Admin" asp-controller="AdminTaiKhoan" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenTaiKhoan" class="control-label">Tên tài khoản</label>
                <input asp-for="TenTaiKhoan" class="form-control" type="text" />
                <span asp-validation-for="TenTaiKhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label">Số điện thoại</label>
                <input asp-for="Sdt" class="form-control" type="text" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" type="text" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="MatKhau" class="control-label">Mật khẩu</label>
                <input asp-for="MatKhau" class="form-control" type="password" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label class="control-label">Trạng thái</label>
                <input type="checkbox" asp-for="TrangThai" data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-danger" data-size="xs" />
            </div>*@
            <div class="form-group">
                <label asp-for="MaVaiTro" class="control-label">Quyền truy cập</label>
                <select asp-for="MaVaiTro" class="form-control" asp-items="ViewBag.MaVaiTro"></select>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-icon-text col-md-5">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i> Tạo mới
                </button>
                <button style="float:right;" asp-action="Index" class="btn btn-outline-warning btn-icon-text col-md-5">
                    <i class="mdi mdi-reload btn-icon-prepend"></i> Trở về
                </button>
            </div>


        </form>
    </div>
</div>


