
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hoa Vàng - Cỏ Xanh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/~/assets/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/assets/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    
    
 
</head>
<body>

    <div class="page-wrapper">
        <div class="nav-wrapper">
            <div class="grad-bar"></div>
            <nav class="navbar">
                <img  src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c8/Bluestar_%28bus_company%29_logo.svg/1280px-Bluestar_%28bus_company%29_logo.svg.png" alt="Company Logo">
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav no-search">
                    <li class="nav-item"><a asp-controller="Home" asp-action="Index">TRANG CHỦ</a></li>
                    <li class="nav-item"><a asp-area="Admin" asp-controller="AdminHome" asp-action="Index">GIỚI THIỆU</a></li>
                    <li class="nav-item dropdown"><a href="tour.html">TOUR PHÚ YÊN</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/1-ngay.html">1 Ngày</a>
                            <a class="dropdown-item" href="/dai-ngay.html">Dài Ngày</a>
                            
                        </div>
                    </li>
                    <li class="nav-item"><a href="/khach-san.html">KHÁCH SẠN</a></li>
                    <li class="nav-item dropdown">
                        <a href="kinh-nghiem-du-lich.html">KINH NGHIỆM DU LỊCH <i class="fa-solid fa-chevron-down"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/an-uong.html">Ăn Uống</a>
                            <a class="dropdown-item" href="/dia-diem.html">Địa Điểm</a>
                            <a class="dropdown-item" href="/khach-san.html">Khách Sạn</a>
                            

                        </div>
                    </li>
                    <li class="nav-item"><a href="lien-he.html">LIÊN HỆ</a></li>
                    
                    <li class="dropdown d-none d-md-block">
                        
                        
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a class="dropdown-item" href="/tai-khoan-cua-toi.html">Tài khoản của tôi</a></li>
                                <li><a class="dropdown-item" href="dang-xuat.html">Đăng xuất</a></li>
                            }
                            else
                            {
                                <li><a class="dropdown-item" href="/dang-ky.html">Đăng ký tài khoản</a></li>
                                <li><a class="dropdown-item" href="/dang-nhap.html">Đăng nhập</a></li>
                            }
                        
                    </li>
                    <a href="/cart.html"><i class="fa-sharp fa-solid fa-cart-plus"></i></a>
                    @*<i class="fas fa-search" id="search-icon"></i>
                    <input class="search-input" type="text" placeholder="Search..">*@
                </ul>
            </nav>
            <div class="grad-bar"></div>
        </div>
    </div>

    <main>
        @RenderBody()
    </main>

    <footer class="ftco-footer bg-bottom ftco-no-pt" style="background-color: #E67300; color: #000000">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md pt-5">
                    <div class="ftco-footer-widget pt-md-5 mb-4">
                        <h2 class="ftco-heading-2">Công ty Cổ Phần Du Lịch Hoa Vàng - Cỏ Xanh </h2>
                        <p>Công ty CP Du Lịch Thương Mại Tuy Hoà travel là một trong những công ty đầu tiên tại Quy Nhơn và Phú Yên tổ chức các tour trải nghiệm thú vị như câu mực, cắm trại đêm, đốt lửa trại…</p>
                        <p>Đi cùng Hoa Vàng - Cỏ Xanh travel trên mỗi hành trình, các bạn sẽ mở rộng trái tim và đôi mắt. Đi, nhìn, cảm nhận và hạnh phúc</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                            <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md pt-5">
                    <div class="ftco-footer-widget pt-md-5 mb-4">
                        <h2 class="ftco-heading-2">THÔNG TIN LIÊN HỆ</h2></br>
                        <ul class="list-unstyled">
                            <li><a href=""><i class="fa-solid fa-house-chimney"></i> 210 Nguyễn Tất Thành, Tp.Tuy Hoà, Phú Yên</a></li>
                            <li><a href=""><i class="fa-solid fa-phone"></i> 0702743839</a></li>
                            <li><a href=""><i class="fa-solid fa-envelope"></i> dndung.a8tqtpy@gmail.com</a></li>


                        </ul>
                    </div>
                </div>
                <div class="col-md pt-5">
                    <div class="ftco-footer-widget pt-md-5 mb-4">
                        <h2 class="ftco-heading-2">THÔNG TIN CHINH SÁCH</h2></br>
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa-solid fa-link"></i> Bảo hiểm du lịch</a></li>
                            <li><a href="#"><i class="fa-solid fa-link"></i> Chính sách bảo mật</a></li>
                            <li><a href="#"><i class="fa-solid fa-link"></i> Chính sách hoàn huỷ</a></li>
                            <li><a href="#"><i class="fa-solid fa-link"></i> Bản quyền ảnh và video</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md pt-5">
                    <div class="ftco-footer-widget pt-md-5 mb-4">
                        <h2 class="ftco-heading-2">HỖ TRỢ KHÁCH HÀNG</h2></br>

                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa-solid fa-link"></i> FAQ</a></li>
                            <li><a href="#"><i class="fa-solid fa-link"></i> Ý kiến khách hàng</a></li>
                            <li><a href="#"><i class="fa-solid fa-link"></i> Hướng dẫn đặt Tour và thanh toán</a></li>
                            <li><a href="#"><i class="fa-solid fa-link"></i> Sitemap</a></li>
                            <li><a href="#"><i class="fa-solid fa-link"></i> Ảnh và Video</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        &copy;<script>document.write(new Date().getFullYear());</script> Hoa Vàng - Cỏ Xanh | Khám Phá Du Lịch Phú Yên <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Dang Ngoc Dung</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    @section Scripts{
        <script>
            (function () {

                $("#cart").on("click", function () {
                    $(".shopping-cart").fadeToggle("fast");
                });

            })();
        </script>
    }
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/jquery.stellar.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.animateNumber.min.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/assets/js/google-map.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/nav.js"></script>
    <script src="https://kit.fontawesome.com/9c60762c80.js" crossorigin="anonymous"></script>


    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required:false)
    @await RenderSectionAsync("Styles", required: false)
</body>
</html>