@model TravelPY.Models.Page

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutOne.cshtml";
}

<h1>Chỉnh sửa Page</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-route-id="@Model.MaPage" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaPage" />
            <div class="form-group">
                <label asp-for="TenPage" class="control-label">Tên Page</label>
                <input asp-for="TenPage" class="form-control" />
                <span asp-validation-for="TenPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label">Nội dung</label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="">
                    <label class="control-label">Hình ảnh</label>
                    <input asp-for="HinhAnh" class="form-control-file" name="fHinhAnh" type="file" />
                    <span asp-validation-for="HinhAnh" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="SoBaiViet" class="control-label">Số bài viết</label>
                <input asp-for="SoBaiViet" class="form-control" />
                <span asp-validation-for="SoBaiViet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

