@model IEnumerable<TravelPY.Models.Page>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if(Model != null && Model.Count() > 0)
{
    foreach(var item in Model)
    {
        <div class="one">
            <span class="day">@item.TenPage</span>
        </div>
    }
}
